
.responsiveGallery{
	margin-top: 20px;
	
	@media screen and (min-width: 300px) {
		.bricklayer-column-sizer {
			flex-basis: 300px;
		}
	}

	.box{
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	.bricklayer-column{
		padding: 0 5px;
	}
}
