
.responsiveGallery{
	margin-top: 20px;
	
	@media screen and (min-width: 300px) {
		
		/* column-width can be set to: 150, 200, 250, 300, 350, 400 */
		@for $i from 3 through 8 {
			$columnWidth: $i * 50;
			&[data-column-width="#{$columnWidth}"]{
				.bricklayer-column-sizer {
					flex-basis: #{$columnWidth}px;
				}
			}
		}
		
		/* gutter can be set to: 0, 10, 20, 30, 40, 50 */
		@for $i from 0 through 5 {
			$gutter: $i * 10;
			&[data-gutter="#{$gutter}"]{
				.bricklayer-column{
					padding: 0 #{$gutter/2}px;
					.box{
						margin-bottom: #{$gutter}px;
					}
				}
			}
		}
		
		/*
		&[data-gutter="0"]{
			.bricklayer-column{
				padding: 0;
				.box{
					margin-bottom: 0px;
				}
			}
		}
		&[data-gutter="10"]{
			.bricklayer-column{
				padding: 0 5px;
				.box{
					margin-bottom: 10px;
				}
			}
		}
		&[data-gutter="20"]{
			.bricklayer-column{
				padding: 0 10px;
				.box{
					margin-bottom: 20px;
				}
			}
		}
		&[data-gutter="30"]{
			.bricklayer-column{
				padding: 0 15px;
				.box{
					margin-bottom: 30px;
				}
			}
		}
		&[data-gutter="40"]{
			.bricklayer-column{
				padding: 0 20px;
				.box{
					margin-bottom: 40px;
				}
			}
		}
		&[data-gutter="50"]{
			.bricklayer-column{
				padding: 0 25px;
				.box{
					margin-bottom: 50px;
				}
			}
		}*/
		
	}

	.box{
		/*margin-bottom: 10px;*/
		img{
			width: 100%;
		}
	}
	
}
